.homepage-container {
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 2.6rem;
  border: 1px solid #ffffff;
  padding: 25px;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: rgb(255, 254, 254);
  
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  
  border-radius: 9px;
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #1f252b;
}
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
  }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 5.29em;
    --top-offset: 62.42vh;
    --fall-duration: 6.916s;
    --fall-delay: 0.582s;
  }
  .star:nth-child(2) {
    --star-tail-length: 5.81em;
    --top-offset: 28.5vh;
    --fall-duration: 8.637s;
    --fall-delay: 4.172s;
  }
  .star:nth-child(3) {
    --star-tail-length: 6.68em;
    --top-offset: 37.87vh;
    --fall-duration: 7.882s;
    --fall-delay: 8.604s;
  }
  .star:nth-child(4) {
    --star-tail-length: 7.23em;
    --top-offset: 10.42vh;
    --fall-duration: 8.671s;
    --fall-delay: 7.974s;
  }
  .star:nth-child(5) {
    --star-tail-length: 5.98em;
    --top-offset: 81.05vh;
    --fall-duration: 10.734s;
    --fall-delay: 6.445s;
  }
  .star:nth-child(6) {
    --star-tail-length: 6.8em;
    --top-offset: 76.24vh;
    --fall-duration: 10.236s;
    --fall-delay: 6.916s;
  }
  .star:nth-child(7) {
    --star-tail-length: 6.91em;
    --top-offset: 74.19vh;
    --fall-duration: 9.782s;
    --fall-delay: 1.323s;
  }
  .star:nth-child(8) {
    --star-tail-length: 6.67em;
    --top-offset: 78.76vh;
    --fall-duration: 8.88s;
    --fall-delay: 1.718s;
  }
  .star:nth-child(9) {
    --star-tail-length: 6.29em;
    --top-offset: 33.84vh;
    --fall-duration: 6.321s;
    --fall-delay: 7.056s;
  }
  .star:nth-child(10) {
    --star-tail-length: 6.22em;
    --top-offset: 91.06vh;
    --fall-duration: 9.942s;
    --fall-delay: 5.354s;
  }
  .star:nth-child(11) {
    --star-tail-length: 6.62em;
    --top-offset: 92.19vh;
    --fall-duration: 8.351s;
    --fall-delay: 5.41s;
  }
  .star:nth-child(12) {
    --star-tail-length: 7.11em;
    --top-offset: 43.1vh;
    --fall-duration: 6.242s;
    --fall-delay: 2.84s;
  }
  .star:nth-child(13) {
    --star-tail-length: 6.22em;
    --top-offset: 78.04vh;
    --fall-duration: 8.743s;
    --fall-delay: 7.154s;
  }
  .star:nth-child(14) {
    --star-tail-length: 6.15em;
    --top-offset: 97.17vh;
    --fall-duration: 10.403s;
    --fall-delay: 3.542s;
  }
  .star:nth-child(15) {
    --star-tail-length: 7.14em;
    --top-offset: 78.59vh;
    --fall-duration: 8.283s;
    --fall-delay: 0.029s;
  }
  .star:nth-child(16) {
    --star-tail-length: 5.13em;
    --top-offset: 72vh;
    --fall-duration: 8.768s;
    --fall-delay: 3.169s;
  }
  .star:nth-child(17) {
    --star-tail-length: 5.34em;
    --top-offset: 84.46vh;
    --fall-duration: 6.36s;
    --fall-delay: 1.835s;
  }
  .star:nth-child(18) {
    --star-tail-length: 6.14em;
    --top-offset: 1.23vh;
    --fall-duration: 8.389s;
    --fall-delay: 1.554s;
  }
  .star:nth-child(19) {
    --star-tail-length: 7.05em;
    --top-offset: 37.31vh;
    --fall-duration: 8.966s;
    --fall-delay: 5.97s;
  }
  .star:nth-child(20) {
    --star-tail-length: 6.58em;
    --top-offset: 69.37vh;
    --fall-duration: 6.979s;
    --fall-delay: 6.827s;
  }
  .star:nth-child(21) {
    --star-tail-length: 5.95em;
    --top-offset: 13.58vh;
    --fall-duration: 9.244s;
    --fall-delay: 3.821s;
  }
  .star:nth-child(22) {
    --star-tail-length: 7.35em;
    --top-offset: 66.54vh;
    --fall-duration: 6.137s;
    --fall-delay: 1.478s;
  }
  .star:nth-child(23) {
    --star-tail-length: 6.22em;
    --top-offset: 13.55vh;
    --fall-duration: 8.332s;
    --fall-delay: 7.948s;
  }
  .star:nth-child(24) {
    --star-tail-length: 6.73em;
    --top-offset: 43vh;
    --fall-duration: 10.742s;
    --fall-delay: 5.301s;
  }
  .star:nth-child(25) {
    --star-tail-length: 5.34em;
    --top-offset: 50.27vh;
    --fall-duration: 7.826s;
    --fall-delay: 0.784s;
  }
  .star:nth-child(26) {
    --star-tail-length: 7.32em;
    --top-offset: 92.58vh;
    --fall-duration: 7.249s;
    --fall-delay: 2.037s;
  }
  .star:nth-child(27) {
    --star-tail-length: 7.44em;
    --top-offset: 62.29vh;
    --fall-duration: 8.593s;
    --fall-delay: 7.003s;
  }
  .star:nth-child(28) {
    --star-tail-length: 5.29em;
    --top-offset: 54.06vh;
    --fall-duration: 10.763s;
    --fall-delay: 2.082s;
  }
  .star:nth-child(29) {
    --star-tail-length: 7.3em;
    --top-offset: 53.48vh;
    --fall-duration: 11.817s;
    --fall-delay: 0.751s;
  }
  .star:nth-child(30) {
    --star-tail-length: 6.09em;
    --top-offset: 37.08vh;
    --fall-duration: 7.96s;
    --fall-delay: 7.385s;
  }
  .star:nth-child(31) {
    --star-tail-length: 5.36em;
    --top-offset: 92.13vh;
    --fall-duration: 10.105s;
    --fall-delay: 2.325s;
  }
  .star:nth-child(32) {
    --star-tail-length: 5.21em;
    --top-offset: 44.2vh;
    --fall-duration: 10.216s;
    --fall-delay: 9.357s;
  }
  .star:nth-child(33) {
    --star-tail-length: 5.64em;
    --top-offset: 87.92vh;
    --fall-duration: 6.47s;
    --fall-delay: 7.305s;
  }
  .star:nth-child(34) {
    --star-tail-length: 5.02em;
    --top-offset: 28.95vh;
    --fall-duration: 7.683s;
    --fall-delay: 7.68s;
  }
  .star:nth-child(35) {
    --star-tail-length: 6.96em;
    --top-offset: 59.93vh;
    --fall-duration: 10.551s;
    --fall-delay: 6.478s;
  }
  .star:nth-child(36) {
    --star-tail-length: 7.37em;
    --top-offset: 3.44vh;
    --fall-duration: 7.111s;
    --fall-delay: 8.545s;
  }
  .star:nth-child(37) {
    --star-tail-length: 6.99em;
    --top-offset: 98.34vh;
    --fall-duration: 6.799s;
    --fall-delay: 4.358s;
  }
  .star:nth-child(38) {
    --star-tail-length: 5.21em;
    --top-offset: 42.88vh;
    --fall-duration: 9.329s;
    --fall-delay: 6.522s;
  }
  .star:nth-child(39) {
    --star-tail-length: 6.46em;
    --top-offset: 53.03vh;
    --fall-duration: 6.214s;
    --fall-delay: 0.09s;
  }
  .star:nth-child(40) {
    --star-tail-length: 6.04em;
    --top-offset: 24.01vh;
    --fall-duration: 9.352s;
    --fall-delay: 5.009s;
  }
  .star:nth-child(41) {
    --star-tail-length: 7.37em;
    --top-offset: 36.96vh;
    --fall-duration: 9.501s;
    --fall-delay: 1.461s;
  }
  .star:nth-child(42) {
    --star-tail-length: 5.22em;
    --top-offset: 49.39vh;
    --fall-duration: 8.685s;
    --fall-delay: 0.18s;
  }
  .star:nth-child(43) {
    --star-tail-length: 7.11em;
    --top-offset: 69.99vh;
    --fall-duration: 8.12s;
    --fall-delay: 6.314s;
  }
  .star:nth-child(44) {
    --star-tail-length: 5.68em;
    --top-offset: 91.14vh;
    --fall-duration: 11.274s;
    --fall-delay: 0.296s;
  }
  .star:nth-child(45) {
    --star-tail-length: 5.24em;
    --top-offset: 44.05vh;
    --fall-duration: 7.974s;
    --fall-delay: 0.286s;
  }
  .star:nth-child(46) {
    --star-tail-length: 6.53em;
    --top-offset: 94.74vh;
    --fall-duration: 11.866s;
    --fall-delay: 3.488s;
  }
  .star:nth-child(47) {
    --star-tail-length: 7.36em;
    --top-offset: 49.34vh;
    --fall-duration: 9.606s;
    --fall-delay: 1.975s;
  }
  .star:nth-child(48) {
    --star-tail-length: 5.37em;
    --top-offset: 52.22vh;
    --fall-duration: 8.077s;
    --fall-delay: 2.521s;
  }
  .star:nth-child(49) {
    --star-tail-length: 6.82em;
    --top-offset: 68.37vh;
    --fall-duration: 9.532s;
    --fall-delay: 3.452s;
  }
  .star:nth-child(50) {
    --star-tail-length: 6.77em;
    --top-offset: 49.03vh;
    --fall-duration: 10.804s;
    --fall-delay: 8.339s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }
  .content{
    width: 100%;
    height: 100%;
  }